/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

app-home {
  position: absolute;
  top: 42px;
  width: 100%;
  left: 0;
  padding: 10px;
}

app-home > .row {
  margin: 0 !important;
}

.table-action a {
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding: 0;
  border: none;
  font-size: 15px;
  color: lightgrey !important;
  &:hover, &:active, &:focus {
    color: black !important;
    background-color: transparent !important;
  }
}

.line-clamp {
  width: 90px;
  >div {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

[hidden] {
  display: none !important;
}