<div class="row">
  <div class="col-md-6">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-comments"></i>Available </div>
      </div>
      <div class="portlet-body table-flex-body">
        <input placeholder="Search..." [(ngModel)]="filter_investor" />
        <div class="table-scrollable">
          <table class="table table-bordered table-striped table-condensed flip-content table-hover">
            <thead>
              <tr>
                <td><input [(ngModel)]="table_select_all" (click)="select_all(0)" type="checkbox"/></td>
                <th>Name</th>
                <th>Contact</th>
                <th>Location</th>
                <th width=70px>
                  <label [hidden]="!get_select(0)" class="btn grey-salsa btn-sm active margin-zero" (click)="add_sel_investors()"><i class="fa fa-hand-o-right"> </i></label>
                  <label [hidden]="!get_select(0)" class="btn grey-salsa btn-sm active margin-zero" (click)="add_ND_investors()"><i class="fa fa-thumbs-down"> </i></label>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let investor of available_investors(); let i = index">
                <td><input [(ngModel)]="table_select[investor]" (click)="change_all(0)" type="checkbox"/></td>
                <td>{{investor}}</td>
                <td><div><input [(ngModel)]="table_contacts[investor]" list="contact"/></div></td>
                <td><div><input [(ngModel)]="table_locations[investor]" list="location"/></div></td>
                <td width=70px>
                  <label class="btn grey-salsa btn-sm active margin-zero" (click)="add_sel_investor(investor)"><i class="fa fa-hand-o-right"> </i></label>
                  <label class="btn grey-salsa btn-sm active margin-zero" (click)="add_ND_investor(investor)"><i class="fa fa-thumbs-down"> </i></label>
                </td>
              </tr>
              <tr [hidden]="available_investors().length">
                <td colspan="5">No Available</td>
              </tr>
            </tbody>
          </table>
        </div>
        <table class="flex-footer buttons">
          <tr>
            <td width=33%>
              <label class="btn grey-salsa btn-sm active" (click)="select_all(0, true);table_select_all=!table_select_all;"><i class="fa fa-{{table_select_all?'times':'check'}}"> </i> {{table_select_all?'Des':'S'}}elect All</label>
            </td>
            <td width=33%>
              <label class="btn grey-salsa btn-sm active" (click)="add_ND_investors()"><i class="fa fa-trash-o"> </i> Move to Not-Interested</label>
            </td>
            <td width=33%>
              <label class="btn grey-salsa btn-sm active" (click)="restore_ND_investors()"><i class="fa fa-undo"> </i> Move to Interested</label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
        <div class="title">Not interested & DQ Investors</div>
        <div class="table-scrollable">
          <table class="table table-bordered table-striped table-condensed flip-content table-hover">
            <thead>
              <tr>
                <td><input [(ngModel)]="table_nd_select_all" type="checkbox" (click)="select_all(1)"/></td>
                <th>Name</th>
                <th>Contact</th>
                <th>Location</th>
                <th width=41px>
                  <label [hidden]="!get_select(1)" class="btn grey-salsa btn-sm active margin-zero" (click)="restore_ND_investors()"><i class="fa fa-thumbs-up"> </i></label>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let investor of get_ND_investors(); let i = index">
                <td><input [(ngModel)]="table_nd_select[investor.investor]" (click)="change_all(1)" type="checkbox"/></td>
                <td>{{investor.investor}}</td>
                <td>{{investor.contact}}</td>
                <td>{{investor.location}}</td>
                <td width=41px>
                  <label class="btn grey-salsa btn-sm active margin-zero" (click)="restore_ND_investor(investor.investor)"><i class="fa fa-thumbs-up"> </i></label>
                </td>
              </tr>
              <tr [hidden]="get_ND_investors().length">
                <td colspan="5">No Not Intrested</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-comments"></i>Selected </div>
      </div>
      <div class="portlet-body table-flex-body">
        <div class="table-scrollable">
          <table class="table table-bordered table-striped table-condensed flip-content table-hover">
            <thead>
              <tr>
                <th width=41px>
                  <label [hidden]="!get_select(2)" class="btn grey-salsa btn-sm active margin-zero" (click)="restore_sel_investors()"><i class="fa fa-hand-o-left"> </i></label>
                </th>
                <td><input [(ngModel)]="table_sel_select_all" type="checkbox" (click)="select_all(2)"/></td>
                <th>Name</th>
                <th>Contact</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let investor of get_sel_investors(); let i = index">
                <td width=41px>
                  <label class="btn grey-salsa btn-sm active margin-zero" (click)="restore_sel_investor(investor.investor)"><i class="fa fa-hand-o-left"> </i></label>
                </td>
                <td><input [(ngModel)]="table_sel_select[investor.investor]" (click)="change_all(2)" type="checkbox"/></td>
                <td>{{investor.investor}}</td>
                <td>{{investor.contact}}</td>
                <td>{{investor.location}}</td>
              </tr>
              <tr [hidden]="get_sel_investors().length">
                <td colspan="5">No Selected</td>
              </tr>
            </tbody>
          </table>
        </div>
        <table class="flex-footer buttons">
          <tr>
            <td width=33%>
              <label class="btn grey-salsa btn-sm active">Add to List</label>
            </td>
            <td width=33%>
              <label class="btn grey-salsa btn-sm active">Upload</label>
            </td>
            <td width=33%>
              <label class="btn grey-salsa btn-sm active" (click)="done()">Done</label>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<datalist id="contact">
  <option *ngFor="let contact of primary_info.contact">{{contact}}</option>
</datalist>
<datalist id="location">
  <option *ngFor="let location of primary_info.location">{{location}}</option>
</datalist>